@model ProductModel
@{
    ViewData["Title"] = "AddProduct";
}

@section Scripts{
    <script src="\modules\jquery-validation\dist\jquery.validate.min.js"></script>
    <script src="\modules\jquery-validation-unobtrusive\dist\jquery.validate.unobtrusive.min.js"></script>>
}

<h1>Ürün Ekle</h1>
<hr />
<div class="row">
    <div class="col-md-8">
        @*@if (ViewBag.ErrorMessage != null)
            {
                <div class="text-danger">@ViewBag.ErrorMessage</div>
            }*@
        <form asp-controller="Admin" asp-action="AddProduct" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label asp-for="Name" class="col-md-2 col-form-label">Ürün İsmi</label>
                <div class="col-md-8">
                    <input class="form-control" asp-for="Name" value="@Model.Name" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="ImageUrl" class="col-md-2 col-form-label">Resim Url</label>
                <div class="col-md-8">
                    <input class="form-control" asp-for="ImageUrl" value="@Model.ImageUrl" />
                    <span asp-validation-for="ImageUrl" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="col-md-2 col-form-label">Açıklama</label>
                <div class="col-md-8">
                    <textarea class="form-control" id="editor" name="description">
                        @Model.Description
                    </textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="UnitPrice" class="col-md-2 col-form-label">Fiyat</label>
                <div class="col-md-8">
                    <input class="form-control" asp-for="UnitPrice" value="@Model.UnitPrice" />
                    <span asp-validation-for="UnitPrice" class="text-danger"></span>
                </div>
            </div>
            <br />
            <div class="form-group">
                <div class="col-md-8">
                    <button class="btn btn-primary" type="submit">Kaydet</button>
                </div>
            </div>
        </form>
    </div>
</div>